$fontcolor: black;
$backgroundcolor: white;

.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 1rem 0;

    a {
        background: transparent;
        color: $fontcolor;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

    a:hover {
        background: $backgroundcolor;
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: $fontcolor;
        font-size: .8rem;
        font-style: italic;
    }
}